<div class="container">
  <div class="row-fluid">
      <div class="well">
          <h1>Work Out Tracker</h1>
      </div>
  </div>  
  <div class="row-fluid">
      <div class="well">
          <a class="col-md-1" routerLink="/workouts">View All</a>
          <a class="col-md-1" routerLink="/Create">Create</a>
          <a class="col-md-1"routerLink="/Category">Category</a>
          <a  class="col-md-1"routerLink="/Track">Track</a>
        <div class="row-fluid">

        </div>

      </div>
  </div>   

</div>



<div class="container">
<router-outlet></router-outlet>
</div>