<form class="form-horizontal" #wrkoutFrm="ngForm"  >
    <div class="well well-md col-md-12" *ngIf="workout">
      <div class="row">
        <div class="col-md-12">
          <h1><span class="label label-default col-md-11">End Work Out</span></h1>       
        </div>
      </div><br>
      <div class="row">
        <div class="col-md-3">
            <label for="title">Title:</label>  
        </div>
        <div class="col-md-8">
            <input [(ngModel)]="workout.WorkOutTitle" name ="title" type="text" class="form-control " id="title" [readonly]="true" required>
          </div>
    
      </div><br>
      <div class="row">
          <div class="col-md-3">
              <label for="title">Comment:</label>  
          </div>
          <div class="col-md-8">        
              <textarea class="form-control " [(ngModel)]="workout.WorkOutComment" name ="note" rows="3" cols="20" style="resize: vertical" id="note" required>
    
              </textarea>
            </div>
      
        </div>    <br>
       
          <div class="row">
              <div class="col-md-3">
                  <label for="title">End Date:</label>  
              </div>
              <div class="col-md-8">                  
                  <input type="date" [ngModel] ="endDate | date:'yyyy-MM-dd'" (ngModelChange)="endDate = $event" name ="endDate" type="date" class="form-control " id="endDate" required>
                </div>
          
            </div>  <br>
            <div class="row">
                <div class="col-md-3">
                    <label for="title">End Time:</label>  
                </div>
                <div class="col-md-8">
                    <input  [(ngModel)]="endTime" name ="endTime" type="time" class="form-control " id="endtime" required>
                  </div>
            
              </div>  <br>
            <div class="row ">  
                <div class="col-md-offset-4 col-md-2">
                        <button class="col-md-offset-5 btn btn-default" [disabled]="!wrkoutFrm.form.valid"
                        (click)="addEndWorkOut();">
                           End Workout
                       </button>
                </div>         
                <div class="col-md-2">
                        <a class="col-md-offset-5 btn btn-default"
                        [routerLink]="['/workouts']"
                        >                  
                           Cancel
                    </a>
                    </div>         
               
               
            </div>
            <div class="row" *ngIf="Info">

                    <div class="alert alert-info">
                       {{Info}}
                      </div>  
                </div>
      
    </div>
    <div *ngIf="!workout">
        <h2>No Record Found!!!</h2>
    </div>
</form>
    